<div class="flex flex-wrap bg-red-700">

  <div class="w-full md:w-2/3 pr-0 md:pr-6 mb-6 flex flex-col bg-green-600">
    <div class="bg-white shadow rounded-sm">
      <%= yield :primary_content %>
    </div>
  </div>



</div>