<div class="flex">
  <div class="">
    <%= render partial: 'rooms' %>
  </div>

  <div class="">
    <div class="">
      <h4 class="">
        Welcome to the RailsChatTutorial!
      </h4>

      <p>
        We need to talk.
      </p>

      <hr />

      <p>
        You can create or join a room from the sidebar.
      </p>
    </div>
  </div>
</div>